@font-face {
	font-family: 'OpenSans-Light';
	src: url('fonts/OpenSans-Light.ttf') format('truetype'); 
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-regular';
	src: url('fonts/OpenSans-Regular.ttf') format('truetype'); 
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-medium';
	src: url('fonts/OpenSans-Medium.ttf') format('truetype'); 
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-semiBold';
	src: url('fonts/OpenSans-semiBold.ttf') format('truetype'); 
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-bold';
	src: url('fonts/OpenSans-Bold.ttf') format('truetype'); 
	font-style: normal;
}
/* ------------------ */
html {
	width: 100%;
	height: auto;
}
body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	color: #292929;
	font-size: 14px;
	line-height: 20px;
	font-family: 'OpenSans-regular';
}
h1,h2, h3, h4 {
	font-family: 'OpenSans-medium';
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 23px;
}
h4 {
	font-size: 18px;
}
* {
	box-sizing: border-box; 
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	align-self: start;
	margin: 0;
	padding: 30px 15px;
	border-bottom: 1px solid #b4acda;
	background: rgb(128,210,246);
	background: linear-gradient(90deg, rgb(128, 210, 246) 47%, rgb(240, 170, 255) 100%);
}
.wrapper {
	width: 96%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0 50px;
	margin: 0 2%;
	background-color: #fafafa;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title {
	width: 100%;
	line-height: normal;
	margin: 0;	
}
nav {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
nav ul {	
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	text-decoration: none;
	color: #292929;
	font-size: 16px;
}
nav ul li a:hover {
	text-decoration: none;
	color: #006a8a;
}
.section {
	width: 100%;
	height: auto;
	display: flex;
	padding: 0 15px;
}
.section.vertical {
	flex-direction: row;
	justify-content: space-between;
}
.content {
	width: 48%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.cnt {
	width: 100%;
	height: 300px;
	background-color: #fcfcfc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 15px;
	border-radius: 5px;	
	border: 1px solid #cccccc;
}
.cnt p:first-child {
	padding-top: 0;
	margin-top: 0;
}
.withArrow {
	height: 300px;
}
.horizontal-container {
	height: 300px;
}
.horizontal-container p{
	width: 150%;
}
.noVertical {
	height: 300px;
}
.noVertical p{
	width: 150%;
}
p {
	margin: 0;
	padding: 10px 0;
}
.carouselWrapper{
	padding: 15px;
}

@media only screen and (max-width: 640px) {
	.wrapper {
		width: 100%;
		margin: 0;
	}
	.wrapper, .section  {
		flex-direction: column !important;
	}
	header {
		flex-direction: column;
		align-items: start;
	}
	h1.title {
		font-size: 22px;
		margin-bottom: 15px;
	}
	h4 {
		font-size: 16px;
	}
	.content {
		width: 100%;
	}
}